<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541060523110-otu4dbq9k3s1escp62msljg3pgnag2hu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541060523110-otu4dbq9k3s1escp62msljg3pgnag2hu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>541060523110-mq2d9uqqudeb9uol5grusod3b5i3lqmd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoU-FU8YlM6UqDeVinxHevPj2p_r5fg1M</string>
	<key>GCM_SENDER_ID</key>
	<string>541060523110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goKigali</string>
	<key>PROJECT_ID</key>
	<string>go-kigali</string>
	<key>STORAGE_BUCKET</key>
	<string>go-kigali.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541060523110:ios:6b9fff2f0afed5e9bc79a7</string>
</dict>
</plist>